<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>followers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css" />
    <script type="text/javascript" src="main.js"></script>
</head>

<body>
    <div id="wrapper">
        <a href="/logout"><button type="button" class="logout">Logout</button></a>
        
        <div id="followers-column" class="column">
                <a href="/allfriends">Friends</a>
            <h1>Your followers</h1>
            <ul id="followers">
                <!-- creating a loop for each friend -->
                <% followers.forEach(function(follower) { %>
                <li uid="<%= follower.twitter_id %>" class="friend">
                    <img class="profile-image" src="<%=follower.profile_image_url  %>">
                    <p>
                        <!-- setting a name, screen name and location to each friend. -->
                        <span class="name"><%= follower.name %></span>
                        <span class="screen-name"><%= follower.screen_name %></span></p>
                        <p class="location">
                            <%= follower.location %>
                        </p>
                </li>
                <% }); %>
            </ul>
        </div>
    </div>
</body>

</html>